body{
    background-image: url('img/blackbg.jpg');
    color: white;
    margin: 10px;
    padding: 10px;

}

.navbar{
    border: 2px solid white;
    width: 100%;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

